service: planning-bot


provider:
  name: aws
  region: eu-west-1
  runtime: go1.x
  memorySize: 128
  environment:
    BOT_KEY: ${env:BOT_KEY}
    BOT_KEY_SECRET: ${env:BOT_KEY_SECRET}
    BOT_TOKEN: ${env:BOT_TOKEN}
    BOT_TOKEN_SECRET: ${env:BOT_TOKEN_SECRET}

functions:
  tweet:
    handler: bin/tweet
    events:
      - schedule: cron(45 7,9,12,15 ? * 2-6 *)